@CHARSET "UTF-8";
body{
  -webkit-font-smoothing: antialiased;
}
li{list-style:none;}
section{
	height:100%;
	overflow-y:hidden;
	text-align:center;
	margin:0 auto;
	margin-bottom:1em;
}
.ui-content{
	margin: 0 auto;	
}
.capitalize{
	text-transform:capitalize;
}
.inline{
	display:inline-block;
}
h1{
	font-size:2.5em;
}
h1.title{
  margin:0;
  margin-bottom:6.2px;	
}
p.subtitle{
  margin:0;
  margin-bottom:25px;	
  font-size:1.3em;
  text-align:center;
}
p{
  text-align:justify;
}
#signup-content{
	border-top-right-radius:0;
	border-top-left-radius:0;}
.ui-page { -webkit-backface-visibility: hidden; }
#login-page #icon, #main-page .ui-content{	
	text-align:center;
}
/*Login page*/
#icon img{
  width:30%;
  margin:5em auto 0;
}
#login-page > .ui-content{
	padding:2em;
}
/*Signup page*/
#signup-page .ui-content{
	padding:2em;
}
#login-error-msg.ui-content{
	padding:1em;
}
/*Bible section*/
#bible-study p.bible-study-intro{
  margin:0 auto;
  padding:0 2em;
  max-width:26em;
  font-style:italic;
}
iframe{	
	width:100%;
	height:450px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

ul#bible-slider>li:first-child{
	background:url('../img/bible-light-rays.jpg') center bottom;
}
a.rsvp-btn:hover{
	border:3px solid;
}
a.swipe{
	color:#fff;
	background-color:#6de9bc;
	position:absolute;
}
a#btn-next, a#bible-next{
	right:0;
}
a#btn-prev, a#bible-prev{
	left:0
}
a#bible-next, a#bible-prev{
	top:300px;
	z-index:1;
}

.slider-wrapper{
	overflow:hidden;
	width:100%;
	height:100%;
}
#slider, #bible-slider{
	position:relative;
	list-style:none;
    margin:0;
    padding:0;
    
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;   
    transition: transform 500ms ease;
  
}
#slider li, #bible-slider li{
	transform: translateZ(0);
	float:left;
	height:100%;
	padding:0;
	margin:0;
	height:675px;
	background-color:#6de9bc;
	color:#fff;
}
.bible-slider-1{
	margin-top:300px;
}
.bible-slider-1 .time{
	text-align:left;
	font-size:1.2em;
	border-left:1px solid #fff;
	padding-left:15px;
}
#rsvp-view{
  text-shadow:0 0px;
}
.bible-slider-2{
	margin:3em auto 1em;
	font-weight:bold;
	padding:0 1em;
	font-size:1.3em;
	text-shadow:0 0px;
}
.bible-slider-3{
	margin-top:280px;
	text-shadow:0 0px;
}
.margin5{
	margin:5%;
}

@media all and (max-width:35em){
	iframe{
		height:266px;
	}
	#bible-slider li{
		height:400px;
	}	
	#bible-slider .bible-slider-1{
		margin-top:100px;
		font-size:70%;
	}
	#bible-slider .bible-slider-2{
	  margin-top:24px;
	}
	#bible-slider .bible-slider-3{
		margin-top:140px;
	}
	a#bible-next, a#bible-prev{
		top:200px;
	}
}
/*Events section
default is 4 columns*/

#event-sec a{
	max-width:10em;
	width:100%;	
	padding:0;
	margin: 0 auto;
	border:0;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.42);
}
#event-sec a img{width:100%;}
.event-grid>div
{   width:25%;
	display:block;
	float:left;
	margin-bottom:2em;
}
.event-grid div:first-child{
	clear:left;
}
@media (max-width:50em) and (min-width:35.1em){
	/*3 column*/
	.event-grid>div{
		width:33.3%;		
	} 
}
@media all and (max-width:35em){
	/*2 column*/
	.event-grid>div{
		width:50%;
		
	} 
}

/*Individual event view*/
.cancel-btn{
	color:#fff;
	border-radius:8px;
	background:-webkit-gradient(linear, left top, left bottom, from(#E34226), to(#943C22));
	border:1px solid #943C22;
	font-weight:bold;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
	padding:5px 10px;
	cursor:pointer;
}
#event-detail-page .ui-content{
	background-color:#f5f5f5;
}

#event-detail-page .event-pic{
	background-image:url('http://media-cache-ec0.pinimg.com/736x/4d/15/bf/4d15bf89268e28d7af23a89cf122735a.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	height:400px;
}
 
#event-detail-page .event-pic .event-title{		
	width: 200px;
	position: relative;
	bottom: -300px;
	left:-250px;
	padding: 0.4em;
	margin:0;
	background-color: rgba(255,255,255,0.8);
	
}
#event-detail-page div hr{
	border:0;
	border-top: 1px solid #dce0e0;
}
#event-detail-page .event-detail{
	padding:3em 0 0;
	margin: 0 auto;
	width:70%;
}
#event-detail-page .event-detail>div{margin-bottom:2em;}
#event-detail-page .event-detail .description, .cancel-event{text-align:center;}
#event-detail-page .event-detail .ui-block-a{
	color:#6de9bc;
}
#event-detail-page .event-map{
	width:100%;
}

/*pray section*/
#prayer-sec{
  height:800px;
  background:url('../img/pray-bg.jpg') no-repeat center center;
  background-size:cover;
 }

.pray-intro{
  margin:4.3em auto 1em; 
  color:#fff; 
  font-weight:bold;
  text-align:center;
  max-width:600px;
  padding:0 12.5px;
  height:133px;
}
.pray-intro .success-msg, .pray-intro .error-msg{
  display:none; 
  padding: 12px;
  background: rgba(250, 235, 215, 0.75);
  color: lightcoral;
  width: 300px;
  text-shadow:0 0px;
  margin: 0 auto;
}
.pray-intro .show-pray-form{
  background: rgba(0,0,0,0.6);
  padding: 12.5px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}
#prayer-sec form{
  padding:2em;	
  text-align:left;
}
.prayer-form-wrapper{
	margin:1em;
}
.prayer-form{
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	background-color:rgba(245, 245, 245, 0.96);
}
.prayer-form label{
	padding-top:1em;
}
.prayer-form input[type='text']{
	border-radius:.6em;
	padding:6.4px;
	box-sizing:boder-box;
	width:100%;
	color:#333333;
	background-color:transparent;
	line-height:2em;
	
	border:0;
}
.prayer-form textarea{
	padding:6.4px;
	box-sizing:border-box;
	width:100%;
	}
#prayer-sec h3{
	background-color:rgba(109, 233, 188, 0.87);
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	padding:5px auto;
	margin-bottom:0;
	line-height:3em;
	color:#fff;
	text-shadow:0 0px;
	
}
.prayer-form a{
	background-color:#6de9bc;
	color:#fff;
    margin-top:1em;	
    position:inherit;
}
@media all and (max-width:35em){
	.pray-intro{
	  margin-bottom:4em;
	}
}
