<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, width=device-width" />
       
        <title>iPhilia Mobile</title>
        <link rel="stylesheet" href="css/layout.css" />
		<link rel="stylesheet" href="css/iPhiliaMobile.min.css" />		
		<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
		<link rel="stylesheet" href="css/jquery.mobile.structure-1.4.3.min.css" />
		<script src="lib/jquery-1.11.1.min.js"></script>
		<script src="lib/jquery.mobile-1.4.3.min.js"></script>
		<script src="lib/underscore-min.js"></script>
        <script src="lib/backbone-min.js"></script>
        <!-- script src="lib/PushNotification.js"></script-->
    </head>
    <body>
   	 	<script id="bibleStudyTemplate" type="text/template">			
	      <div class='bible-slider-1'>
			<h1>Upcoming Bible Study</h1>
			<h2>Gospel of Luck Chapter 7</h2>
			<div class='inline'>
              <h1><%= date %></h1>
            </div>	<div class='time inline'>
  			  5pm: Young Couple Groups <br>
			  7:30pm: Young Adults
			</div>
			<p class='bible-study-intro'>Every other Saturday night, we gather at a house behind St.Joseph church.
			  Our community warmly welcome you and your friends' join.</p>
		  </div>		   
	   </script>
	   <script id="bibleStudyTemplate2" type="text/template">			
		  <h2 class='bible-slider-2'>We will meet you here!</h2>	 
		  <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC93IlFMRZNCIOb5cx1qMHAkceVeiRBtTk&q=<%= googleAddr %>&zoom=15"></iframe>									   
	   	  <h2>address: <%= street %>, <%= city %>, <%= state %></h2>
	   </script>
	   <script id="bibleStudyTemplate3" type="text/template">		  	
	     <h2 class='bible-slider-3'>Are going to join us?</h2>
		 <em>Reply by <%= replyBy %></em>
		 <div class='margin5'>Contact Emily or BJ for details: <%= phone %></div>	
		 <div class='margin5'>
	    		<a data-rsvp='yes' class='rsvp-btn ui-btn ui-btn-inline ui-corner-all'>Yes, see you there.</a>
			<a  data-rsvp='no' class='rsvp-btn ui-btn ui-btn-inline ui-corner-all'>Sorry I can't make it.</a></br>	
		 </div>	   
	   </script>
	   <script id="eventTemplate" type="text/template">
			<a href="#event-detail-page" data-transition='slide' class='event-btn ui-btn ui-shadow ui-corner-all' data-id=<%= eventId %>>
				<img alt='bible event' src='http://media-cache-ec0.pinimg.com/736x/4d/15/bf/4d15bf89268e28d7af23a89cf122735a.jpg'></img>
				<div><%= eventTitle %><br>
				<%= eventTime%></div>
			</a>
	   </script>
	   <script id="eventDetailTemplate" type="text/template">
	   		<div class='event-pic'>
				<h2 class='event-title'><%= eventTitle%></h2>				
			</div>
			<div class='event-detail'>				
				<div class='description'>Bring your bible, let's practice the wisdom of God.</div>
				<div><hr></div>
				<div class='event-time ui-grid-b'>
					<div class='ui-block-a'>Time</div>
					<div><%= eventTime%></div>
				</div>
				<div><hr></div>
				<div class='event-address ui-grid-b'>
					<div class='ui-block-a'>Location</div>
					<div><%= street %>, <%= city %>, <%= state %> <%= zipCode%></div>
				</div>
				<div><hr></div>
				<div class='event-host ui-grid-b'>
					<div class='ui-block-a'>Event host</div>
					<div><%= eventHost %></div>
				</div>
				<div><hr></div>
				<div class='cancel-event'><button class='cancel-btn'>Cancel my attendence</button></div>
			</div>
			<div class='event-map'>
				<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC93IlFMRZNCIOb5cx1qMHAkceVeiRBtTk&q=<%= googleAddr %>&zoom=15"></iframe>
			</div>		   
	   </script>
	   <script id="prayFormTemplate" type="text/template">	       
		       <h3 class='togglePrayer'>Spread your prayer</h3>
			    <form class='prayer-form'> 	 
			     <label for='subject'>Subject</label><input name='subject' type='text' placeholder='Peaceful world' value=<%= subject %>>
			  	 <label for='content'>Content</label>
				 <textarea name='content' form='prayer-form' placeholder='Write your prayer here...' value=<%= content %>></textarea>	 
				 <label>From</label>	     						             
				   <input type='radio' name='from' id='anonymous'  value='anonymous'/><label class='inline' for='anonymous'>Anonymous</label>
				   <input type='radio' name='from' id='userName' value=<%= from %> checked="checked"/><label for='userName' class='capitalize inline'><%= from %></label>			    			     
			     <a class='ui-btn ui-corner-all'>Save</a>
		        </form>	    
	   </script>
       <!-- Log In Page -->
	<div data-role="page" id="login-page" data-theme="a">
		<div data-role="header" data-position="inline">		
			<a id="join-btn" href="#signup-page" data-transition="slidedown" data-rel="dialog" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-user">Join us</a>
		</div>
		<div id='icon'>
			<img alt="" src="icon.png">
			<h1>iPhilia</h1>
			<div>A Catholic young adult group at Fremont, CA</div>
		</div>
		<div class="ui-content">
				<form>	    
				    <input id="login-email" name="account_name" type="email" data-clear-btn="true" placeholder="Email" value="silvia@gmail.com" autofocus/>				    
				    <input id="login-pwd" name="pwd" type="password" placeholder="Password" value="1234"/>
				</form>
		
				<button id="login-submit" class="ui-shadow ui-btn" data-theme="a">Login</button>
				<div data-role="popup" id="login-error-msg" class="ui-content" style="max-width:280px">
				    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
					<p>Email or password doesn't match.</p>
				</div>
		</div>
	</div>
	
	<!-- Sign Up Page -->
	<div data-role="page" id="signup-page" data-theme="a">
		<div data-role="header" data-position="inline">
			<h1>Sign Up</h1>			
		</div>
		<div id="signup-content" class="ui-content" data-theme="a">			
				<form>
					<label for="first_name" data-clear-btn="true"><strong>First name:</strong></label>
				    <input id="fname" name="first_name" type="text" data-clear-btn="true" autofocus required/>
				    <label for="last_name" data-clear-btn="true"><strong>Last name:</strong></label>
				    <input id="lname" name="last_name" type="text" data-clear-btn="true" required/>
				    <label for="phone_num" data-clear-btn="true"><strong>Phone number:</strong></label>
				    <input id="phone" name="phone_num" type="tel" data-clear-btn="true" placeholder="123-456-789"/>
				    <label for="account_name" data-clear-btn="true"><strong>Email:</strong></label>
				    <input id="signup-email" name="account_name" type="email" data-clear-btn="true" placeholder="name@gmail.com" required/>
				    <label for="pwd"><strong>Password:</strong></label>
				    <input id="signup-pwd" name="pwd" type="password" required/>
				</form>			
				<button id="signup-submit" class="ui-shadow ui-btn" data-theme="a">Sign Up</button>	
				</div>
		</div>
	</div>
	<!-- Main Page -->
		
	<div data-role="page" id="main-page" data-theme="a">
		<div data-role="header" data-position="inline">
			<h1>iPhilia</h1>
			<!-- a href="#navi-panel" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-bars">Menu</a-->
			<a id="logout-btn" href="#login-page" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-user">Log Out</a>
			
		</div>
		
		<div class="ui-content" >			
			<section id='bible-study'>	
				<div class='ui-nodisc-icon'>
					<a href="#" id='bible-next' class="swipe ui-btn ui-alt-icon ui-corner-all ui-icon-carat-r ui-btn-icon-notext ui-btn-inline">Next</a>
					<a href="#" id='bible-prev' class="swipe ui-btn ui-alt-icon ui-corner-all ui-icon-carat-l ui-btn-icon-notext ui-btn-inline">Prev</a>		
				</div>
				<div class='slider-wrapper'>
					<ul id='bible-slider'></ul>
      			</div>	
				
			</section>
			<section id="event-sec">
				 <h1>My Events</h1>
				 <div id='event-list' class='event-grid' >
				   
				 </div>
				
			</section>	
			<!-- section id='ido'-->
				<h1>iGo</h1>
				<!-- div class='ui-nodisc-icon'>
					<a href="#" id='btn-next' class="swipe ui-btn ui-alt-icon ui-corner-all ui-icon-carat-r ui-btn-icon-notext ui-btn-inline">Next</a>
					<a href="#" id='btn-prev' class="swipe ui-btn ui-alt-icon ui-corner-all ui-icon-carat-l ui-btn-icon-notext ui-btn-inline">Prev</a>		
				</div>
				<div class='slider-wrapper'>
					<ul id ='slider'>
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
				</div-->
			<!-- /section-->
			<section id='prayer-sec'>
			  <h1>We Pray</h1>
			  <p>This is a online praying section where allows you to submit your pray intention
			     also view other people's prayers so we can pray for each other. Once your prayer is submitted, others might read it and pray for you right away.
			  </p>
			  
			  <div class='prayer-form-wrapper'> 
			    
			  </div>
			  
			</section>		
		</div>
	</div>
	<!-- Event Detail Page -->		
	<div data-role="page" id="event-detail-page" data-theme="a">
		<div data-role="header" >
			<h1>Event Information</h1>
			<a href='#main-page' data-rel='back' class="ui-btn-left ui-btn ui-icon-arrow-l ui-btn-icon-left ui-btn-inline ui-corner-all" data-role="button" role="button">Back</a>		
		</div>		
		<div class="ui-content"></div>
	</div>
        <script src="cordova.js"></script>
        <script src="js/users.js"></script>
        <script src="js/app.js"></script>
        <script src="js/models/bibleModel.js"></script>       
        <script src="js/views/bibleView.js"></script>
        <script src="js/views/iGoView.js"></script>
        <script src="js/views/eventView.js"></script>
        <script src="js/views/prayerView.js"></script>       
        <script src="js/collections/bibleCollection.js"></script>        
        <script src="js/slider.js"></script>
    </body>
</html>
